.grid1 {
	max-width: 1123px;
	list-style: none;
	margin: 0 auto;
	padding: 0;
	clear: both;
}

.grid1 li {
	display: block;
	float: left;
	padding: 0;
	width: 33%;
	opacity: 0;
}

.grid1 li.shown,
.no-js .grid1 li,
.no-cssanimations .grid1 li {
	opacity: 1;
}

.grid1 li a,
.grid1 li img {
	outline: none;
	border: none;
	display: block;
	max-width: 100%;
}

.mock1 {
	object-fit: cover;
	overflow: hidden;
	width: 900px;
	height: 486.5px;
}

.mock2 {
	object-fit: cover;
	overflow: hidden;
	height: 246px;
}

.mock3 {
	object-fit: cover;
	overflow: hidden;
	height: 240px;
}

.mock4 {
	object-fit: cover;
	overflow: hidden;
	height: 315.5px;
}

.grid2 {
	max-width: 1123px;
	list-style: none;
	margin: 0 auto;
	padding: 0;
	clear: both;
}

.grid2 li {
	display: block;
	float: left;
	padding: 0;
	width: 50%;
	opacity: 0;
}

.grid2 li.shown,
.no-js .grid2 li,
.no-cssanimations .grid2 li {
	opacity: 1;
}

.grid2 li a,
.grid2 li img {
	outline: none;
	border: none;
	display: block;
	max-width: 100%;
}

/* Effect 1: opacity */
.grid.effect-1 li.animate {
	-webkit-animation: fadeIn 0.65s ease forwards;
	animation: fadeIn 0.65s ease forwards;
}

@-webkit-keyframes fadeIn {
	0% { }
	100% { opacity: 1; }
}

@keyframes fadeIn {
	0% { }
	100% { opacity: 1; }
}

/* Effect 2: Move Up */
.grid1.effect-2 li.animate {
	-webkit-transform: translateY(200px);
	transform: translateY(200px);
	-webkit-animation: moveUp 0.65s ease forwards;
	animation: moveUp 0.65s ease forwards;
}

@-webkit-keyframes moveUp {
	0% { }
	100% { -webkit-transform: translateY(0); opacity: 1; }
}

@keyframes moveUp {
	0% { }
	100% { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1; }
}

.grid2.effect-2 li.animate {
	-webkit-transform: translateY(200px);
	transform: translateY(200px);
	-webkit-animation: moveUp 0.65s ease forwards;
	animation: moveUp 0.65s ease forwards;
}

@-webkit-keyframes moveUp {
	0% { }
	100% { -webkit-transform: translateY(0); opacity: 1; }
}

@keyframes moveUp {
	0% { }
	100% { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1; }
}

/* Effect 3: Scale up */
.grid.effect-3 li.animate {
	-webkit-transform: scale(0.6);
	transform: scale(0.6);
	-webkit-animation: scaleUp 0.65s ease-in-out forwards;
	animation: scaleUp 0.65s ease-in-out forwards;
}

@-webkit-keyframes scaleUp {
	0% { }
	100% { -webkit-transform: scale(1); opacity: 1; }
}

@keyframes scaleUp {
	0% { }
	100% { -webkit-transform: scale(1); transform: scale(1); opacity: 1; }
}

/* Effect 4: fall perspective */
.grid.effect-4 {
	-webkit-perspective: 1300px;
	perspective: 1300px;
}

.grid.effect-4 li.animate {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: translateZ(400px) translateY(300px) rotateX(-90deg);
	transform: translateZ(400px) translateY(300px) rotateX(-90deg);
	-webkit-animation: fallPerspective .8s ease-in-out forwards;
	animation: fallPerspective .8s ease-in-out forwards;
}

@-webkit-keyframes fallPerspective {
	0% { }
	100% { -webkit-transform: translateZ(0px) translateY(0px) rotateX(0deg); opacity: 1; }
}

@keyframes fallPerspective {
	0% { }
	100% { -webkit-transform: translateZ(0px) translateY(0px) rotateX(0deg); transform: translateZ(0px) translateY(0px) rotateX(0deg); opacity: 1; }
}

/* Effect 5: fly (based on http://lab.hakim.se/scroll-effects/ by @hakimel) */
.grid.effect-5 {
	-webkit-perspective: 1300px;
	perspective: 1300px;
}

.grid.effect-5 li.animate {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform-origin: 50% 50% -300px;
	transform-origin: 50% 50% -300px;
	-webkit-transform: rotateX(-180deg);
	transform: rotateX(-180deg);
	-webkit-animation: fly .8s ease-in-out forwards;
	animation: fly .8s ease-in-out forwards;
}

@-webkit-keyframes fly {
	0% { }
	100% { -webkit-transform: rotateX(0deg); opacity: 1; }
}

@keyframes fly {
	0% { }
	100% { -webkit-transform: rotateX(0deg); transform: rotateX(0deg); opacity: 1; }
}

/* Effect 6: flip (based on http://lab.hakim.se/scroll-effects/ by @hakimel) */
.grid.effect-6 {
	-webkit-perspective: 1300px;
	perspective: 1300px;
}

.grid.effect-6 li.animate {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform-origin: 0% 0%;
	transform-origin: 0% 0%;
	-webkit-transform: rotateX(-80deg);
	transform: rotateX(-80deg);
	-webkit-animation: flip .8s ease-in-out forwards;
	animation: flip .8s ease-in-out forwards;
}

@-webkit-keyframes flip {
	0% { }
	100% { -webkit-transform: rotateX(0deg); opacity: 1; }
}

@keyframes flip {
	0% { }
	100% { -webkit-transform: rotateX(0deg); transform: rotateX(0deg); opacity: 1; }
}

/* Effect 7: helix (based on http://lab.hakim.se/scroll-effects/ by @hakimel) */
.grid.effect-7 {
	-webkit-perspective: 1300px;
	perspective: 1300px;
}

.grid.effect-7 li.animate {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
	-webkit-animation: helix .8s ease-in-out forwards;
	animation: helix .8s ease-in-out forwards;
}

@-webkit-keyframes helix {
	0% { }
	100% { -webkit-transform: rotateY(0deg); opacity: 1; }
}

@keyframes helix {
	0% { }
	100% { -webkit-transform: rotateY(0deg); transform: rotateY(0deg); opacity: 1; }
}

/* Effect 8:  */
.grid.effect-8 {
	-webkit-perspective: 1300px;
	perspective: 1300px;
}

.grid.effect-8 li.animate {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: scale(0.4);
	transform: scale(0.4);
	-webkit-animation: popUp .8s ease-in forwards;
	animation: popUp .8s ease-in forwards;
}

@-webkit-keyframes popUp {
	0% { }
	70% { -webkit-transform: scale(1.1); opacity: .8; -webkit-animation-timing-function: ease-out; }
	100% { -webkit-transform: scale(1); opacity: 1; }
}

@keyframes popUp {
	0% { }
	70% { -webkit-transform: scale(1.1); transform: scale(1.1); opacity: .8; -webkit-animation-timing-function: ease-out; animation-timing-function: ease-out; }
	100% { -webkit-transform: scale(1); transform: scale(1); opacity: 1; }
}

@media screen and (max-width: 1025px) {
	.mock1 {
		height: 451px;
	}

	.mock4 {
		height: 271px;
	}
}

@media screen and (max-width: 900px) {
	.grid1 li {
		width: 50%;
	}

	.grid2 li {
		width: 50%;
	}

	.mock1 {
		height: 515px;
	}

	.mock2 {
		object-fit: contain;
		overflow: visible;
		width: auto;
		height: auto;
	}

	.mock3 {
		object-fit: contain;
		overflow: visible;
		width: auto;
		height: auto;
	}

	.mock4 {
		height: 217.5px;
	}
}

@media screen and (max-width: 813px) {
	.mock1 {
		height: 501px;
	}

	.mock4 {
		height: 215px;
	}
}

@media screen and (max-width: 800px) {
	.mock1 {
		height: 472px;
	}

	.mock4 {
		height: 199px;
	}
}

@media screen and (max-width: 737px) {
	.mock1 {
		height: 449px;
	}

	.mock4 {
		height: 190px;
	}
}

@media screen and (max-width: 732px) {
	.mock1 {
		height: 446.5px;
	}

	.mock4 {
		height: 189px;
	}
}

@media screen and (max-width: 721px) {
	.mock1 {
		height: 439px;
	}

	.mock4 {
		height: 185.5px;
	}
}

@media screen and (max-width: 670px) {
	.mock1 {
		height: 404px;
	}

	.mock4 {
		height: 171px;
	}
}

@media screen and (max-width: 654px) {
	.mock1 {
		height: 395px;
	}

	.mock4 {
		height: 167px;
	}
}

@media screen and (max-width: 641px) {
	.mock1 {
		height: 385px;
	}

	.mock4 {
		height: 163px;
	}
}

@media screen and (max-width: 570px) {
	.mock1 {
		height: 341px;
	}

	.mock4 {
		height: 146px;
	}
}

@media screen and (max-width: 541px) {
	.mock1 {
		height: 326px;
	}

	.mock4 {
		height: 138px;
	}
}

@media screen and (max-width: 481px) {
	.mock1 {
		height: 285px;
	}

	.mock4 {
		height: 120.5px;
	}
}

@media screen and (max-width: 415px) {
	.mock1 {
		height: 242.5px;
	}

	.mock4 {
		height: 102.5px;
	}
}

@media screen and (max-width: 412px) {
	.mock1 {
		height: 240px;
	}

	.mock4 {
		height: 102px;
	}
}

@media screen and (max-width: 400px) {
	.grid1 li {
		width: 100%;
	}

	.grid2 li {
		width: 100%;
	}

	.mock1 {
		object-fit: contain;
		overflow: visible;
		width: auto;
		height: auto;
	}

	.mock2 {
		object-fit: contain;
		overflow: visible;
		width: auto;
		height: auto;
	}

	.mock3 {
		object-fit: contain;
		overflow: visible;
		width: auto;
		height: auto;
	}

	.mock4 {
		object-fit: contain;
		overflow: visible;
		width: auto;
		height: auto;
	}
}
